header {
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
}

.logo-header {
    width: 30%;
}

nav {
    width: 60%;
    display: flex;
    align-items: center;
}

nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-size: 18px;
}